{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="main-account">
  <div class="main-account__wrapper">
    <div class="container">
      <div class="main-account__inner">
        <div class="customer account">
          <div class="main-account__top d-flex justify-content-between w-100 flex-column flex-sm-row">
            <h1 class="main-account__title">{{ 'customer.account.title' | t }}</h1>
            <a class="main-account__logout d-flex align-items-center" href="{{ routes.account_logout_url }}">
              <span> {{ 'customer.log_out' | t }} </span>
              <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.353553" y1="0.646447" x2="19.3536" y2="19.6464" stroke="#464650" />
                <line x1="19.3536" y1="1.35355" x2="0.353552" y2="20.3536" stroke="#464650" />
              </svg>
            </a>
          </div>
          <div class="main-account__case d-flex justify-content-between flex-column flex-lg-row">
            <div class="main-account__order">
              <h2>{{ 'customer.orders.title' | t }}</h2>
              {% paginate customer.orders by 20 %}
              {%- if customer.orders.size > 0 -%}
              <table role="table" class="order-history">
                <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
                <thead role="rowgroup">
                  <tr role="row">
                    <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                    <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                    <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}
                    </th>
                    <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' |
                      t }}</th>
                    <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                  </tr>
                </thead>
                <tbody role="rowgroup">
                  {%- for order in customer.orders -%}
                  <tr role="row">
                    <td id="RowOrder" role="cell" headers="ColumnOrder"
                      data-label="{{ 'customer.orders.order_number' | t }}">
                      <a href="{{ order.customer_url }}"
                        aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                        {{ order.name }}
                      </a>
                    </td>
                    <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                      {{ order.created_at | time_tag: format: 'date' }}
                    </td>
                    <td headers="RowOrder ColumnPayment" role="cell"
                      data-label="{{ 'customer.orders.payment_status' | t }}">
                      {{ order.financial_status_label }}
                    </td>
                    <td headers="RowOrder ColumnFulfillment" role="cell"
                      data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                      {{ order.fulfillment_status_label }}
                    </td>
                    <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                      {{ order.total_price | money_with_currency }}</td>
                  </tr>
                  {%- endfor -%}
                </tbody>
              </table>
              {%- else -%}
              <p class="main-account__empty">{{ 'customer.orders.none' | t }}</p>
              {%- endif -%}

              {%- if paginate.pages > 1 -%}
              {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                  {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                          fill="currentColor">
                      </svg>
                    </a>
                  </li>
                  {%- endif -%}

                  {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                    <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{
                      part.title }}</a>
                    {%- else -%}
                    {%- if part.title == paginate.current_page -%}
                    <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{
                      part.title }}</span>
                    {%- else -%}
                    <span>{{ part.title }}</span>
                    {%- endif -%}
                    {%- endif -%}
                  </li>
                  {%- endfor -%}

                  {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                          fill="currentColor">
                      </svg>
                    </a>
                  </li>
                  {%- endif -%}
                </ul>
              </nav>
              {%- endif -%}
              {%- endif -%}
              {% endpaginate %}
            </div>
            <div class="main-account__box">
              <h2>{{ 'customer.account.details' | t }}</h2>

              {{ customer.default_address | format_address }}

              <a class="main-account__address" href="{{ routes.account_addresses_url }}">
                {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
              </a>
              <!-- Begin ReCharge code -->
              <!-- <p id="rc_link_container">
    <a class="main-account__button" href="/tools/recurring/login">Manage Subscriptions</a>
</p> -->
              <!-- End ReCharge code -->
            </div>
          </div>
        </div>
        {% if customer.orders.size == 0 %}
        <a href="/collections/all" class="main-account__return">Continue Shopping</a>
        {% endif %}
      </div>
    </div>

  </div>
</div>