<div class="bonuses-list overflow-hidden bonuses-list-new{% if section.settings.bonuses_left %} bonuses-list--bonuses-left {% endif %} ">
  <div class="container container--landing"> 
    <div class="bonuses-list__wrapper">
      <div class="bonuses-list__left" >
        <h2 class="h2">{{ section.settings.title }}</h2>
        <ul class="list-unstyled">
          {%- for block in section.blocks -%}
            <li>
              {% render 'icon-leaf' %}
              <p class="text">{{ block.settings.text }}</p>
            </li>
          {%- endfor -%}
          {% if section.settings.bonuses_left %} 
            <li class="subtitle">
              {{ section.settings.title_3 }}
            </li>
            <li>
              {% render 'icon-leaf' %}
              <p class="text">{{ section.settings.text_4 }}</p>
            </li>
            <li>
              {% render 'icon-leaf' %}
              <p class="text">{{ section.settings.text_5 }}</p>
            </li>
          {% endif %}
        </ul>
        {% if section.settings.bonuses_left %}
          <h3 class="subtitle">{{ section.settings.title_2 }}</h3>
        {% endif %}
      </div>
      <div class="bonuses-list__right position-relative">
        <div class="bonuses-list__bonuses position-relative">
        {% if section.settings.image != blank %}          
        <div class="bonuses-list__img d-flex justify-content-center position-absolute">
          <img src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.image.alt }}">
        </div>
        {% endif %}
          {% if section.settings.title_2 %} 
            <h3 class="subtitle">{{ section.settings.title_2 }}</h3>
          {% endif %}
          <ul class="list-unstyled">
            <li>
              {% render 'icon-leaf-red' %}
              <p class="text">{{ section.settings.text_1 }}</p>
            </li>
            <li>
              {% render 'icon-leaf-red' %}
              <p class="text">{{ section.settings.text_2 }}</p>
            </li>
            {% if section.settings.text_3 != blank %}
              <li>
                {% render 'icon-leaf-red' %}
                <p class="text">{{ section.settings.text_3 }}</p>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div> 
  </div>
</div>

{% schema %}
{
    "name": "Bonuses List 2",
    "tag": "section",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Title"
      },
      {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
      },
      {
      "type": "text",
      "id": "title_2",
      "label": "Bonus Block Title"
      },
      {
      "type": "text",
      "id": "text_1",
      "label": "Bonus Text 1"
      },
      {
      "type": "text",
      "id": "text_2",
      "label": "Bonus Text 2"
      },
      {
      "type": "text",
      "id": "text_3",
      "label": "Bonus Text 3"
      },
      {
      "type": "checkbox",
      "id": "bonuses_left",
      "default": false,
      "label": "Bonuses Left"
      },
      {
      "type": "text",
      "id": "title_3",
      "label": "Bonus Block Left Title"
      },
      {
      "type": "text",
      "id": "text_4",
      "label": "Bonus Text 4"
      },
      {
      "type": "text",
      "id": "text_5",
      "label": "Bonus Text 5"
      }
    ],
    "blocks": [
      {
      "name": "Items list",
      "type": "text",
      "settings": [
          {
          "type": "text",
          "id": "text",
          "label": "Item Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Bonuses List 2"
      }
    ]
}
{% endschema %}