<div class="image-and-list {% if section.settings.image_left %} image-and-list--image-left {% endif %} {% if section.settings.image_square %} image-and-list--image-square {% endif %}">
  <div class="container"> 
    <div class="image-and-list__wrapper">
      <div class="image-and-list__content" >
        <p class="subtitle">{{ section.settings.subtitle }}</p>
        <h2 class="h2">{{ section.settings.title }}</h2>
        <ul class="list-unstyled">
          {%- for block in section.blocks -%}
            <li>
              {% if block.settings.svg != blank %} 
                {{ block.settings.svg }}
              {% endif %}
              <p class="text">{{ block.settings.text }}</p>
            </li>
          {%- endfor -%}
        </ul>
        {% if section.settings.bottom_text != blank %} 
          <p>{{  section.settings.bottom_text }}</p>
        {% endif %}
        {% if section.settings.btn_text and section.settings.product != blank %} 
        {% assign product = section.settings.product %}
        <form class="product-form w-100 d-flex justify-content-center" action="/cart/add" data-productid="{{product.id}}" method="post">
          {%- liquid
            assign current_variant = product.selected_or_first_available_variant | default: product.variants.first
          -%}
          <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select"
            value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />  
          
          <input type="hidden" name="properties[_quiz_kit_id]" value="5824" />       
          <label class="btn btn--black button__primary">
            <input type="submit" value="{{section.settings.btn_text }}" name="add" class=" product-form__submit" />
          </label>
        </form>
        {% endif %}
      </div>
      <div class="image-and-list__img" >
        <img
          srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
            {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
            {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
            {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
            {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
          sizes=" (min-width: 750px) 50vw, 100vw"
          src="{{ section.settings.image | image_url: width: 1500 }}"
          loading="lazy"
          alt="{{ section.settings.image.alt | escape }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        >
      </div>
    </div> 
  </div>
</div>

{% schema %}
{
    "name": "Image and List",
    "tag": "section",
    "settings": [
      {
      "type": "product",
      "id": "product",
      "label": "Product"
      },
      {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
      },
      {
      "type": "text",
      "id": "title",
      "label": "Title"
      },
      {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
      },
      {
        "type": "checkbox",
        "id": "image_left",
        "default": false,
        "label": "Image Left"
      },
      {
        "type": "checkbox",
        "id": "image_square",
        "default": false,
        "label": "Image Squarre"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text"
      },
      {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text"
      }
    ],
    "blocks": [
      {
      "name": "Items list",
      "type": "text",
      "settings": [
          {
          "type": "text",
          "id": "svg",
          "label": "Item Icon"
          },
          {
          "type": "richtext",
          "id": "text",
          "label": "Item Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image and List"
      }
    ]
}
{% endschema %}