{%- assign i = section.settings -%}

<div class="landing-list landing-list-new">
  <div class="container">
    <h2 class="h2 h2--uppercase">{% if page.template_suffix != "result-quiz-result" and  page.template_suffix != "daily-cycle-care" %}<span class="url-name"></span>{% endif %}{{ section.settings.title }}</h2>
    <ol class="d-flex flex-wrap">
      {%- for block in section.blocks -%}
        <li>
          <h3>{{ block.settings.title }}</h3>
          <p class="text">{{ block.settings.text }}</p>
        </li>
      {%- endfor -%}
    </ol>
    <p class="subtitle">{{ section.settings.subtitle }}</p>
    <p class="landing-list__text">{{ section.settings.bottom_text }}</p>
  </div>
</div>

<div class="landing-coach">
  <div class="landing-coach__wrapper">
    <div class="container">
      <div class="landing-coach__inner">
        <div class="landing-coach__box d-flex align-items-center align-items-xl-start">
        <div class="landing-coach__content">
        {% if i.coach-title != blank %}
          <h2 class="landing-coach__title playfair fw-400"> {{ i.coach-title }}
            <b class="position-relative z1 d-inline-block"> {{ i.coach-title-decor }}
            <svg class="d-none d-lg-block" width="150" height="126" viewbox="0 0 150 126" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M8.37292 49.525C16.7235 41.3563 26.0741 33.6539 36.2729 27.8841C40.7852 25.3252 45.9826 23.2976 51.2347 24.4896C56.0416 25.5739 59.7835 29.1632 62.6445 32.9921C65.9811 37.4613 68.5749 42.4861 71.1327 47.4168C73.9998 52.9497 76.7394 58.5485 79.9145 63.9144C85.1001 72.6958 91.7658 81.1474 100.795 86.2103C111.774 92.3652 124.467 91.408 136.504 90.0261C137.46 89.9115 138.574 89.3798 139.079 88.5247C139.493 87.8297 139.233 87.1412 138.335 87.24C127.246 88.3638 115.58 89.5409 105.291 84.2799C95.7155 79.3864 88.8203 70.6645 83.458 61.5775C80.2547 56.1465 77.4748 50.4755 74.5505 44.8853C71.8819 39.7768 69.1669 34.5354 65.5733 30.0009C62.6295 26.2881 58.9315 23.0509 54.2487 21.8496C48.7926 20.4427 43.0499 22.1091 38.1496 24.503C32.1968 27.4225 26.6886 31.3651 21.4197 35.3466C15.8613 39.5628 10.578 44.141 5.59287 49.0125C5.06558 49.52 4.78708 50.407 5.66591 50.6567C6.54475 50.9064 7.77168 50.1046 8.37292 49.525Z" fill="#C46C4F"></path> <path d="M121.817 99.7419C126.658 97.8945 131.489 96.0497 136.328 94.1926C138.588 93.3282 140.898 92.5333 143.122 91.5747C145.095 90.7259 147.097 89.526 148.137 87.579C148.261 87.3476 148.526 86.8698 148.304 86.5872C146.516 84.411 144.011 83.3038 141.517 82.1208C138.737 80.8074 135.976 79.4473 133.229 78.0626C127.661 75.2509 122.172 72.2721 116.761 69.1577C115.579 68.4809 112.313 70.8461 113.617 71.6251C118.819 74.734 124.109 77.6731 129.492 80.4521C132.151 81.8192 134.831 83.1492 137.532 84.4424C139.99 85.6042 142.764 86.628 144.543 88.7751L144.71 87.7833C143.946 89.2183 142.075 89.5611 140.662 90.1013L134.445 92.4688C130.224 94.0746 125.997 95.6928 121.776 97.2986C121.059 97.5666 119.741 98.4141 119.832 99.3251C119.928 100.287 121.295 99.9255 121.844 99.7244L121.817 99.7419Z" fill="#C46C4F"></path> </svg>           
            <svg class="d-lg-none" width="70" height="73" viewBox="0 0 70 73" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M62.8194 22.9916C62.004 28.2132 60.6997 33.5365 58.5649 38.389C57.622 40.5381 56.287 42.6801 54.0605 43.6698C52.0246 44.5781 49.6965 44.2901 47.6229 43.6767C45.2036 42.96 42.903 41.8408 40.6411 40.746C38.104 39.5166 35.5952 38.2288 32.9917 37.1434C28.7347 35.3641 24.0305 34.1051 19.3871 34.7142C13.7412 35.4554 9.39933 39.2387 5.41026 42.9982C5.09459 43.2987 4.83498 43.7928 4.88325 44.2396C4.92138 44.6036 5.20203 44.7828 5.50092 44.5037C9.216 41.0945 13.1262 37.5095 18.2799 36.6311C23.0756 35.8127 27.9361 37.1075 32.3398 38.9497C34.9713 40.0512 37.5142 41.3542 40.0875 42.5888C42.4378 43.7181 44.8409 44.883 47.3711 45.5538C49.4432 46.1027 51.6601 46.275 53.6827 45.4427C56.0413 44.4756 57.6718 42.3169 58.7999 40.1226C60.1674 37.4528 61.0966 34.5325 61.9286 31.663C62.802 28.6299 63.4777 25.5401 63.9659 22.4247C64.0196 22.098 63.8805 21.7011 63.4943 21.8485C63.1081 21.9959 62.8805 22.6187 62.8194 22.9916Z" fill="#C46C4F"/>
            <path d="M8.10363 35.5005C6.849 37.4807 5.59716 39.4574 4.34611 41.4404C3.76096 42.3655 3.13881 43.279 2.59221 44.2285C2.1068 45.0703 1.70586 46.0473 1.85593 47.0346C1.87356 47.1521 1.9068 47.3971 2.06396 47.4393C3.30104 47.7442 4.50889 47.4673 5.73339 47.2208C7.09651 46.9444 8.46555 46.6899 9.83616 46.4481C12.6156 45.96 15.4116 45.5539 18.2161 45.2178C18.8278 45.1431 19.3712 43.4018 18.6878 43.4723C15.9606 43.7536 13.2472 44.1205 10.5439 44.5703C9.20996 44.7946 7.87837 45.0381 6.54912 45.3007C5.34374 45.5449 4.06118 45.9246 2.83483 45.6281L3.04287 46.0328C2.93118 45.3059 3.5168 44.675 3.88252 44.0968L5.49527 41.5555C6.59041 39.8308 7.68478 38.0998 8.77992 36.3751C8.96737 36.0838 9.21584 35.4197 8.9359 35.1143C8.64087 34.7914 8.24309 35.2927 8.09882 35.514L8.10363 35.5005Z" fill="#C46C4F"/>
            </svg>
            </b> 
            </h2>
        {% endif %}
        {% if i.coach-image != blank %}
          <div class="landing-coach__image d-flex d-lg-none justify-content-center">
            <img src="{{ i.coach-image | img_url: '800x' }}" alt="{{ i.coach-image.alt }}">
          </div>
        {% endif %}
        {% if i.coach-subtitle != blank %}
          <h3 class="landing-coach__subtitle poppins fw-400"> {{ i.coach-subtitle }} </h3>
        {% endif %}
        {% if i.coach-text != blank %}
          <p class="landing-coach__text d-lg-none d-xl-block poppins fw-500"> {{ i.coach-text }} </p>
        {% endif %}
        </div>
        {% if i.coach-image != blank %}
          <div class="landing-coach__image d-none d-lg-flex">
            <img src="{{ i.coach-image | img_url: '800x' }}" alt="{{ i.coach-image.alt }}">
          </div>
        {% endif %}
        </div>
         {% if i.coach-text != blank %}
          <p class="landing-coach__text d-none d-lg-block d-xl-none poppins fw-500"> {{ i.coach-text }} </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="landing-info landing-info-new">
  <div class="landing-info__wrapper position-relative">
    <div class="container position-relative">
      <p class="landing-info__subtitle">{{ section.settings.info_subtitle }}</p>
      <h2 class="h2">{{ section.settings.info_title }}
      {% if page.template_suffix contains "daily-cycle-care" or page.template_suffix contains "quiz-result-v3-daily" %} <svg width="124" height="122" viewBox="0 0 124 122" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_7543_33836)">
        <path d="M55.5749 16.5666C63.345 14.9906 71.6019 15.6783 79.0787 18.5972C82.8195 20.0546 87.0998 22.0311 89.206 25.6644C91.1281 28.9842 90.1835 32.7102 88.3082 35.7178C86.0812 39.2893 82.6589 42.0777 79.337 44.574C75.443 47.4969 71.2665 50.0228 67.2392 52.7658C65.3113 54.0788 63.3469 55.407 61.6154 56.9719C60.2176 58.2264 59.0439 59.8019 59.2006 61.8039C59.4765 65.4248 63.5098 67.6779 66.5302 68.7413C70.7865 70.2464 75.3058 70.756 79.763 70.9211C84.2203 71.0862 88.565 70.8493 92.9007 70.1957C101.203 68.9503 111.032 66.3707 115.624 58.7149C116.585 57.1145 117.277 55.1137 116.681 53.2263C116.085 51.3389 114.588 50.1843 112.883 49.4927C109.041 47.9292 104.623 48.6035 100.772 49.5528C96.5223 50.6064 92.4939 52.3653 88.6268 54.3645C84.7598 56.3636 81.0855 58.6009 77.5459 61.0763C63.2154 71.1039 51.6669 84.9095 44.1588 100.75C43.2226 102.728 42.3473 104.737 41.5244 106.768C41.3034 107.311 40.5919 107.673 40.0425 107.757C39.6374 107.816 39.0086 107.715 39.2217 107.154C42.4695 98.6772 46.9723 90.7016 52.3741 83.4555C57.7759 76.2094 64.2276 69.5431 71.3795 63.9C78.5314 58.2568 86.3879 53.3867 94.8557 50.0339C99.0849 48.3616 103.542 47.1939 108.119 46.9476C111.711 46.7525 116.586 47.5527 118.575 51.0431C120.76 54.8701 117.764 59.2201 115.245 61.902C112.068 65.2724 107.853 67.5182 103.527 69.0714C94.9441 72.1606 85.3197 73.083 76.1853 72.4366C71.7628 72.1221 67.1884 71.4741 63.0794 69.6357C60.0432 68.2805 56.5404 65.544 56.7956 61.8467C56.9428 59.7558 58.2895 58.0368 59.7552 56.68C61.4979 55.0713 63.4915 53.7005 65.4391 52.3532C69.5704 49.5018 73.8972 46.92 77.9289 43.927C81.2817 41.4375 84.8971 38.5473 86.833 34.7393C87.6311 33.1713 88.1256 31.4375 87.9443 29.6439C87.7259 27.4584 86.4242 25.5716 84.7802 24.1555C81.535 21.3624 77.165 19.728 73.1097 18.6405C69.0545 17.553 64.9865 17.122 60.8816 17.301C58.8807 17.3876 56.8969 17.6544 54.9421 18.0486C54.5313 18.1295 54.021 17.9839 54.1685 17.4806C54.3159 16.9774 55.0925 16.6511 55.5622 16.5523L55.5749 16.5666Z" fill="#707E74"/>
        <path d="M53.1284 96.3212C49.1588 100.746 45.1846 105.174 40.8917 109.297C40.5388 109.633 38.4305 110.476 38.7943 109.264C39.7568 106.041 40.5698 102.77 41.2153 99.4597C41.8607 96.1495 42.1817 92.8105 42.734 89.4888C42.8596 88.7245 45.1343 87.6925 45.111 88.7149C45.0227 92.1296 44.3561 95.5857 43.6961 98.9172C43.0361 102.249 42.2014 105.589 41.2231 108.861L39.1257 108.829C43.2818 104.843 47.145 100.572 50.9908 96.2902C51.4084 95.8296 52.0423 95.4166 52.7011 95.4572C53.1998 95.4857 53.5315 95.8819 53.1373 96.3218L53.1284 96.3212Z" fill="#707E74"/>
        </g>
        <defs>
        <clipPath id="clip0_7543_33836">
        <rect width="99.3459" height="73.8936" fill="white" transform="matrix(-0.750983 0.660322 0.660322 0.750983 74.6094 0)"/>
        </clipPath>
        </defs>
        </svg>
        {% endif %}
    </h2>
      <div class="landing-info__content">
        <div class="landing-info__img d-flex justify-content-center">
          <img src="{{ section.settings.info_image | img_url: 'master' }}" alt="{{ section.settings.info_image.alt }}">
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Landing List 2",
    "tag": "section",
    "settings": [
      {
      "type": "richtext",
      "id": "title",
      "label": "Title"
      },
      {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
      },
      {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text"
      },
      {
        "type": "header",
        "content": "Coach"
      },
      {
      "type": "text",
      "id": "coach-title",
      "label": "Title"
      },
      {
      "type": "text",
      "id": "coach-title-decor",
      "label": "Decor word"
      },
      {
      "type": "text",
      "id": "coach-subtitle",
      "label": "Subtitle"
      },
      {
      "type": "text",
      "id": "coach-text",
      "label": "Text"
      },
      {
      "type": "image_picker",
      "id": "coach-image",
      "label": "Image"
      },
      {
        "type": "header",
        "content": "Info"
      },
        {
      "type": "text",
      "id": "info_subtitle",
      "label": "Info Block Subtitle"
      },
      {
      "type": "richtext",
      "id": "info_title",
      "label": "Info Block Title"
      },
      {
      "type": "image_picker",
      "id": "info_image",
      "label": "Info Block Image"
      }
    ],
    "blocks": [
      {
      "name": "Items list",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Item Title"
          },
          {
          "type": "text",
          "id": "text",
          "label": "Item Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Landing List 2"
      }
    ]
}
{% endschema %}