<div class="landing-options">
  <div class="container container--landing">
    <div class="landing-options__wrap">
      <div class="landing-options__title-wrap position-relative">        
          <h2 class="h2">{{ section.settings.title }}</h2>
          <svg class="landing-options__svg-desk position-absolute" width="150" height="126" viewBox="0 0 150 126" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.37439 49.5231C16.7249 41.3544 26.0756 33.652 36.2743 27.8821C40.7867 25.3233 45.9841 23.2957 51.2362 24.4877C56.0431 25.572 59.7849 29.1613 62.6459 32.9902C65.9826 37.4593 68.5764 42.4842 71.1341 47.4148C74.0013 52.9477 76.7408 58.5465 79.916 63.9124C85.1016 72.6939 91.7673 81.1454 100.796 86.2084C111.775 92.3632 124.468 91.4061 136.505 90.0241C137.462 89.9095 138.575 89.3779 139.081 88.5227C139.495 87.8277 139.235 87.1393 138.336 87.2381C127.248 88.3619 115.581 89.539 105.292 84.278C95.717 79.3845 88.8218 70.6625 83.4595 61.5756C80.2562 56.1445 77.4762 50.4735 74.5519 44.8834C71.8834 39.7749 69.1683 34.5334 65.5748 29.999C62.631 26.2861 58.9329 23.0489 54.2502 21.8477C48.7941 20.4408 43.0513 22.1071 38.1511 24.5011C32.1982 27.4206 26.6901 31.3632 21.4212 35.3446C15.8627 39.5609 10.5795 44.1391 5.59434 49.0106C5.06704 49.518 4.78854 50.405 5.66738 50.6547C6.54622 50.9045 7.77315 50.1026 8.37439 49.5231Z" fill="#C46C4F"/>
            <path d="M121.817 99.7439C126.658 97.8965 131.489 96.0517 136.327 94.1945C138.587 93.3301 140.897 92.5353 143.121 91.5766C145.094 90.7279 147.097 89.5279 148.137 87.5809C148.261 87.3495 148.526 86.8718 148.303 86.5891C146.516 84.413 144.011 83.3057 141.516 82.1228C138.736 80.8093 135.975 79.4493 133.228 78.0646C127.66 75.2529 122.172 72.274 116.76 69.1597C115.578 68.4829 112.313 70.8481 113.616 71.6271C118.818 74.736 124.109 77.6751 129.491 80.4541C132.15 81.8211 134.83 83.1512 137.532 84.4443C139.989 85.6061 142.763 86.63 144.543 88.7771L144.71 87.7853C143.946 89.2202 142.074 89.563 140.662 90.1033L134.445 92.4707C130.224 94.0766 125.996 95.6947 121.776 97.3006C121.058 97.5685 119.74 98.416 119.832 99.327C119.927 100.289 121.295 99.9275 121.843 99.7263L121.817 99.7439Z" fill="#C46C4F"/>
          </svg> 
          <svg  class="landing-options__svg-mob position-absolute" width="70" height="73" viewBox="0 0 70 73" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M62.8209 22.9916C62.0054 28.2132 60.7012 33.5365 58.5664 38.389C57.6235 40.5381 56.2884 42.6801 54.062 43.6698C52.026 44.5781 49.698 44.2901 47.6244 43.6767C45.205 42.96 42.9045 41.8408 40.6426 40.746C38.1054 39.5166 35.5967 38.2288 32.9931 37.1434C28.7362 35.3641 24.032 34.1051 19.3886 34.7142C13.7427 35.4554 9.40079 39.2387 5.41172 42.9982C5.09605 43.2987 4.83645 43.7928 4.88472 44.2396C4.92284 44.6036 5.20349 44.7828 5.50238 44.5037C9.21746 41.0945 13.1277 37.5095 18.2814 36.6311C23.0771 35.8127 27.9376 37.1075 32.3413 38.9497C34.9727 40.0512 37.5156 41.3542 40.089 42.5888C42.4393 43.7181 44.8424 44.883 47.3725 45.5538C49.4447 46.1027 51.6615 46.275 53.6842 45.4427C56.0427 44.4756 57.6733 42.3169 58.8014 40.1226C60.1688 37.4528 61.0981 34.5325 61.9301 31.663C62.8035 28.6299 63.4791 25.5401 63.9674 22.4247C64.0211 22.098 63.8819 21.7011 63.4958 21.8485C63.1096 21.9959 62.8819 22.6187 62.8209 22.9916Z" fill="#C46C4F"/>
            <path d="M8.10412 35.5034C6.84949 37.4837 5.59765 39.4603 4.3466 41.4433C3.76145 42.3684 3.13929 43.2819 2.5927 44.2314C2.10729 45.0732 1.70635 46.0503 1.85642 47.0376C1.87405 47.1551 1.90729 47.4 2.06445 47.4422C3.30153 47.7471 4.50938 47.4703 5.73388 47.2237C7.097 46.9473 8.46604 46.6928 9.83665 46.4511C12.6161 45.9629 15.412 45.5568 18.2166 45.2208C18.8283 45.1461 19.3717 43.4047 18.6883 43.4752C15.9611 43.7565 13.2477 44.1235 10.5444 44.5732C9.21044 44.7976 7.87885 45.041 6.5496 45.3036C5.34422 45.5478 4.06167 45.9275 2.83532 45.6311L3.04335 46.0357C2.93167 45.3089 3.51729 44.6779 3.88301 44.0997L5.49576 41.5584C6.5909 39.8337 7.68527 38.1027 8.78041 36.378C8.96785 36.0867 9.21633 35.4226 8.93639 35.1172C8.64136 34.7943 8.24358 35.2956 8.09931 35.517L8.10412 35.5034Z" fill="#C46C4F"/>
            </svg>
                       
        </div>
        <div class="landing-options__img" >
          <img
            srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
              {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
              {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
              {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
              {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
            sizes=" (min-width: 750px) 50vw, 100vw"
            src="{{ section.settings.image | image_url: width: 1500 }}"
            loading="lazy"
            alt="{{ section.settings.image.alt | escape }}"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
          >
        </div>
      <div class="landing-options__content">
        <p class="landing-options__subtitle">{{ section.settings.subtitle }}</p>
        <p class="text">{{ section.settings.text }}</p>
      </div>
      
    </div>
    <div class="landing-options__color-block position-relative">
      <p class="subtitle">{{ section.settings.subtitle_2 }}</p>
      <h2 class="h2">{{ section.settings.title_2 }}</h2>
      <ul>
      {%- for block in section.blocks -%}
        <li>
          <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-inside-1_6522_31391" fill="white">
            <path d="M16.8897 0.684486L16.9137 0.700138L16.9426 0.705398C16.9959 0.712386 17.0462 0.734254 17.0877 0.768495C17.1291 0.802736 17.1601 0.847966 17.1771 0.899003L17.1836 0.911098C18.7207 5.00236 18.7958 8.53415 17.389 11.4261C16.1794 13.936 14.1699 15.3628 12.7891 16.1073C12.4694 16.2814 12.1412 16.4393 11.8056 16.5803C11.6887 16.6433 11.5921 16.6668 11.5121 16.6969L11.4046 16.734C11.3566 16.7522 11.3053 16.7604 11.254 16.758C11.2027 16.7556 11.1524 16.7427 11.1063 16.7201C11.0602 16.6975 11.0192 16.6657 10.9858 16.6266C10.9525 16.5876 10.9275 16.5421 10.9125 16.493C10.8974 16.4439 10.8926 16.3922 10.8983 16.3412C10.904 16.2901 10.9201 16.2408 10.9456 16.1962C10.9711 16.1516 11.0055 16.1128 11.0466 16.082C11.0878 16.0513 11.1348 16.0293 11.1847 16.0174L11.2372 15.9891L11.3668 15.9401C11.4761 15.8967 11.634 15.8324 11.8249 15.7425C12.3434 15.5029 12.8425 15.2233 13.3177 14.9065C14.7818 13.9592 15.9633 12.6346 16.7376 11.0722C17.9923 8.46261 17.9411 5.27437 16.6481 1.62132L16.5918 1.4591L16.433 1.52651C12.1698 3.36713 9.54861 5.7586 8.71799 8.62872C8.02206 11.0489 8.78979 13.2498 9.35436 14.379L9.50652 14.6613L13.871 5.93374C13.8917 5.88731 13.9217 5.84557 13.959 5.81106C13.9964 5.77656 14.0404 5.75 14.0883 5.73299C14.1363 5.71599 14.1871 5.7089 14.2379 5.71215C14.2887 5.71541 14.3382 5.72893 14.3836 5.75192C14.429 5.7749 14.4692 5.80685 14.5018 5.84585C14.5345 5.88484 14.5589 5.93006 14.5735 5.97876C14.5882 6.02747 14.5928 6.07864 14.5871 6.12917C14.5814 6.17971 14.5655 6.22856 14.5403 6.27276L9.88844 15.6157C9.8536 15.6797 9.80309 15.7338 9.74164 15.7729L9.71745 15.786L9.69729 15.7969L9.66504 15.8142L9.62069 15.8382C9.54678 15.8794 9.4599 15.8909 9.37781 15.8702C8.36528 15.6135 7.38892 15.2308 6.47154 14.7313C4.9509 13.9328 3.16955 12.6219 2.03431 10.5983C0.668507 8.14225 0.553226 5.1681 1.7172 1.7436C1.7456 1.66242 1.79994 1.59286 1.87182 1.54564C1.9437 1.49842 2.02913 1.47617 2.11491 1.48234C3.32088 1.67443 4.47556 2.10839 5.50952 2.75815C6.54349 3.40791 7.43538 4.26005 8.13159 5.26332C8.18634 5.34413 8.20769 5.443 8.19117 5.5392C8.17466 5.63541 8.12155 5.72149 8.04298 5.77942C7.9655 5.836 7.86872 5.8595 7.77392 5.84475C7.67912 5.82999 7.59406 5.77819 7.53744 5.70073C6.31983 3.98781 4.51797 2.77915 2.47117 2.30237L2.32876 2.26987L2.28494 2.41058C1.34178 5.41942 1.4668 8.04488 2.68432 10.2114C4.15104 12.8498 6.88524 14.1908 8.41398 14.7534L8.7798 14.8865L8.61318 14.5341C7.99934 13.2363 7.2685 10.9687 8.01973 8.41457C8.9259 5.26957 11.7756 2.64562 16.5855 0.655952C16.6354 0.639129 16.6882 0.632977 16.7406 0.637893C16.793 0.642808 16.8438 0.658683 16.8897 0.684486Z"/>
            </mask>
            <path d="M16.8897 0.684486L16.9137 0.700138L16.9426 0.705398C16.9959 0.712386 17.0462 0.734254 17.0877 0.768495C17.1291 0.802736 17.1601 0.847966 17.1771 0.899003L17.1836 0.911098C18.7207 5.00236 18.7958 8.53415 17.389 11.4261C16.1794 13.936 14.1699 15.3628 12.7891 16.1073C12.4694 16.2814 12.1412 16.4393 11.8056 16.5803C11.6887 16.6433 11.5921 16.6668 11.5121 16.6969L11.4046 16.734C11.3566 16.7522 11.3053 16.7604 11.254 16.758C11.2027 16.7556 11.1524 16.7427 11.1063 16.7201C11.0602 16.6975 11.0192 16.6657 10.9858 16.6266C10.9525 16.5876 10.9275 16.5421 10.9125 16.493C10.8974 16.4439 10.8926 16.3922 10.8983 16.3412C10.904 16.2901 10.9201 16.2408 10.9456 16.1962C10.9711 16.1516 11.0055 16.1128 11.0466 16.082C11.0878 16.0513 11.1348 16.0293 11.1847 16.0174L11.2372 15.9891L11.3668 15.9401C11.4761 15.8967 11.634 15.8324 11.8249 15.7425C12.3434 15.5029 12.8425 15.2233 13.3177 14.9065C14.7818 13.9592 15.9633 12.6346 16.7376 11.0722C17.9923 8.46261 17.9411 5.27437 16.6481 1.62132L16.5918 1.4591L16.433 1.52651C12.1698 3.36713 9.54861 5.7586 8.71799 8.62872C8.02206 11.0489 8.78979 13.2498 9.35436 14.379L9.50652 14.6613L13.871 5.93374C13.8917 5.88731 13.9217 5.84557 13.959 5.81106C13.9964 5.77656 14.0404 5.75 14.0883 5.73299C14.1363 5.71599 14.1871 5.7089 14.2379 5.71215C14.2887 5.71541 14.3382 5.72893 14.3836 5.75192C14.429 5.7749 14.4692 5.80685 14.5018 5.84585C14.5345 5.88484 14.5589 5.93006 14.5735 5.97876C14.5882 6.02747 14.5928 6.07864 14.5871 6.12917C14.5814 6.17971 14.5655 6.22856 14.5403 6.27276L9.88844 15.6157C9.8536 15.6797 9.80309 15.7338 9.74164 15.7729L9.71745 15.786L9.69729 15.7969L9.66504 15.8142L9.62069 15.8382C9.54678 15.8794 9.4599 15.8909 9.37781 15.8702C8.36528 15.6135 7.38892 15.2308 6.47154 14.7313C4.9509 13.9328 3.16955 12.6219 2.03431 10.5983C0.668507 8.14225 0.553226 5.1681 1.7172 1.7436C1.7456 1.66242 1.79994 1.59286 1.87182 1.54564C1.9437 1.49842 2.02913 1.47617 2.11491 1.48234C3.32088 1.67443 4.47556 2.10839 5.50952 2.75815C6.54349 3.40791 7.43538 4.26005 8.13159 5.26332C8.18634 5.34413 8.20769 5.443 8.19117 5.5392C8.17466 5.63541 8.12155 5.72149 8.04298 5.77942C7.9655 5.836 7.86872 5.8595 7.77392 5.84475C7.67912 5.82999 7.59406 5.77819 7.53744 5.70073C6.31983 3.98781 4.51797 2.77915 2.47117 2.30237L2.32876 2.26987L2.28494 2.41058C1.34178 5.41942 1.4668 8.04488 2.68432 10.2114C4.15104 12.8498 6.88524 14.1908 8.41398 14.7534L8.7798 14.8865L8.61318 14.5341C7.99934 13.2363 7.2685 10.9687 8.01973 8.41457C8.9259 5.26957 11.7756 2.64562 16.5855 0.655952C16.6354 0.639129 16.6882 0.632977 16.7406 0.637893C16.793 0.642808 16.8438 0.658683 16.8897 0.684486Z" fill="#333333"/>
            <path d="M16.8897 0.684486L17.4352 -0.153646L17.4081 -0.171258L17.38 -0.187088L16.8897 0.684486ZM16.9137 0.700138L16.3683 1.53827L16.5367 1.6479L16.7344 1.68393L16.9137 0.700138ZM16.9426 0.705398L16.7633 1.68919L16.7879 1.69367L16.8126 1.69692L16.9426 0.705398ZM17.1771 0.899003L16.228 1.21422L16.2555 1.29689L16.2969 1.37357L17.1771 0.899003ZM17.1836 0.911098L18.1197 0.55939L18.0959 0.496069L18.0638 0.436529L17.1836 0.911098ZM17.389 11.4261L16.4897 10.9887L16.4881 10.992L17.389 11.4261ZM12.7891 16.1073L12.3145 15.2271L12.3108 15.2291L12.7891 16.1073ZM11.8056 16.5803L11.4182 15.6584L11.3736 15.6771L11.3311 15.7001L11.8056 16.5803ZM11.5121 16.6969L11.8386 17.6421L11.8516 17.6376L11.8645 17.6328L11.5121 16.6969ZM11.4046 16.734L11.0781 15.7889L11.0641 15.7937L11.0503 15.7989L11.4046 16.734ZM11.1847 16.0174L11.4158 16.9903L11.5437 16.96L11.6593 16.8976L11.1847 16.0174ZM11.2372 15.9891L10.8831 15.0539L10.821 15.0774L10.7626 15.1089L11.2372 15.9891ZM11.3668 15.9401L11.7209 16.8753L11.7281 16.8725L11.7353 16.8697L11.3668 15.9401ZM11.8249 15.7425L11.4053 14.8348L11.3988 14.8378L11.8249 15.7425ZM13.3177 14.9065L12.7744 14.0668L12.7629 14.0745L13.3177 14.9065ZM16.7376 11.0722L17.6337 11.5163L17.6389 11.5055L16.7376 11.0722ZM16.6481 1.62132L15.7032 1.94888L15.7054 1.955L16.6481 1.62132ZM16.5918 1.4591L17.5367 1.13155L17.1861 0.120489L16.2011 0.538593L16.5918 1.4591ZM16.433 1.52651L16.0423 0.605977L16.0367 0.608417L16.433 1.52651ZM8.71799 8.62872L7.7574 8.35072L7.75693 8.35237L8.71799 8.62872ZM9.35436 14.379L8.45993 14.8262L8.46683 14.84L8.47415 14.8536L9.35436 14.379ZM9.50652 14.6613L8.6263 15.1358L9.53989 16.8303L10.4009 15.1085L9.50652 14.6613ZM13.871 5.93374L14.7654 6.38101L14.7751 6.36157L14.784 6.34172L13.871 5.93374ZM14.5403 6.27276L13.6712 5.77809L13.6575 5.80221L13.6451 5.82705L14.5403 6.27276ZM9.88844 15.6157L10.7666 16.0941L10.7754 16.0779L10.7836 16.0615L9.88844 15.6157ZM9.74164 15.7729L10.2162 16.6532L10.2482 16.6359L10.2789 16.6164L9.74164 15.7729ZM9.62069 15.8382L9.14612 14.9579L9.13967 14.9614L9.13327 14.965L9.62069 15.8382ZM9.37781 15.8702L9.13199 16.8396L9.13381 16.84L9.37781 15.8702ZM6.47154 14.7313L6.94978 13.853L6.94314 13.8494L6.93643 13.8459L6.47154 14.7313ZM2.03431 10.5983L1.16035 11.0843L1.16218 11.0876L2.03431 10.5983ZM1.7172 1.7436L0.773281 1.41329L0.770395 1.42179L1.7172 1.7436ZM2.11491 1.48234L2.27221 0.494789L2.22962 0.488006L2.18661 0.484914L2.11491 1.48234ZM8.13159 5.26332L8.95953 4.7024L8.95315 4.69321L8.13159 5.26332ZM8.04298 5.77942L8.63279 6.58697L8.6364 6.58431L8.04298 5.77942ZM7.53744 5.70073L6.72231 6.28016L6.73012 6.29084L7.53744 5.70073ZM2.47117 2.30237L2.69804 1.32843L2.69365 1.32743L2.47117 2.30237ZM2.32876 2.26987L2.55124 1.29493L1.64913 1.08907L1.37399 1.97252L2.32876 2.26987ZM2.28494 2.41058L3.23916 2.70969L3.23971 2.70792L2.28494 2.41058ZM2.68432 10.2114L3.55835 9.72552L3.55609 9.7215L2.68432 10.2114ZM8.41398 14.7534L8.06864 15.6918L8.07185 15.693L8.41398 14.7534ZM8.7798 14.8865L8.43766 15.8262L10.7235 16.6585L9.68388 14.4592L8.7798 14.8865ZM8.61318 14.5341L9.51726 14.1067L9.51716 14.1065L8.61318 14.5341ZM8.01973 8.41457L8.97911 8.69675L8.98064 8.69144L8.01973 8.41457ZM16.5855 0.655952L16.2659 -0.291591L16.2342 -0.280898L16.2033 -0.268109L16.5855 0.655952ZM16.3442 1.52262L16.3683 1.53827L17.4592 -0.137994L17.4352 -0.153646L16.3442 1.52262ZM16.7344 1.68393L16.7633 1.68919L17.1219 -0.278396L17.0931 -0.283655L16.7344 1.68393ZM16.8126 1.69692C16.6797 1.67949 16.5544 1.62498 16.451 1.5396L17.7244 -0.00261051C17.538 -0.156469 17.3121 -0.25472 17.0726 -0.286122L16.8126 1.69692ZM16.451 1.5396C16.3476 1.45422 16.2703 1.34145 16.228 1.21422L18.1261 0.58379C18.0499 0.354483 17.9107 0.151251 17.7244 -0.00261051L16.451 1.5396ZM16.2969 1.37357L16.3034 1.38567L18.0638 0.436529L18.0573 0.424434L16.2969 1.37357ZM16.2475 1.26281C17.7247 5.1946 17.7375 8.42372 16.4897 10.9887L18.2882 11.8636C19.8542 8.64457 19.7168 4.81012 18.1197 0.55939L16.2475 1.26281ZM16.4881 10.992C15.4042 13.2411 13.5937 14.5374 12.3145 15.2271L13.2637 16.9875C14.7462 16.1882 16.9546 14.6309 18.2898 11.8603L16.4881 10.992ZM12.3108 15.2291C12.0207 15.3871 11.7228 15.5304 11.4182 15.6584L12.1931 17.5022C12.5596 17.3481 12.9182 17.1757 13.2674 16.9855L12.3108 15.2291ZM11.3311 15.7001C11.33 15.7006 11.3258 15.703 11.307 15.7098C11.2948 15.7142 11.2829 15.7182 11.2573 15.7267C11.2364 15.7338 11.1991 15.7462 11.1597 15.7611L11.8645 17.6328C11.8637 17.633 11.8652 17.6325 11.8703 17.6307C11.8757 17.6288 11.8824 17.6266 11.8932 17.623C11.9119 17.6167 11.9464 17.6052 11.983 17.5921C12.0618 17.5638 12.1644 17.523 12.2802 17.4605L11.3311 15.7001ZM11.1855 15.7517L11.0781 15.7889L11.7311 17.6792L11.8386 17.6421L11.1855 15.7517ZM11.0503 15.7989C11.1301 15.7687 11.2153 15.7551 11.3006 15.7591L11.2074 17.7569C11.3953 17.7657 11.583 17.7358 11.7589 17.6692L11.0503 15.7989ZM11.3006 15.7591C11.386 15.7631 11.4695 15.7845 11.5462 15.8221L10.6664 17.6182C10.8354 17.7009 11.0195 17.7481 11.2074 17.7569L11.3006 15.7591ZM11.5462 15.8221C11.6229 15.8596 11.6911 15.9125 11.7465 15.9775L10.2252 17.2758C10.3473 17.4189 10.4975 17.5354 10.6664 17.6182L11.5462 15.8221ZM11.7465 15.9775C11.8019 16.0424 11.8434 16.1181 11.8685 16.1997L9.95645 16.7863C10.0116 16.9661 10.1031 17.1327 10.2252 17.2758L11.7465 15.9775ZM11.8685 16.1997C11.8935 16.2813 11.9016 16.3672 11.8921 16.4521L9.90444 16.2302C9.88357 16.4172 9.90127 16.6064 9.95645 16.7863L11.8685 16.1997ZM11.8921 16.4521C11.8826 16.5369 11.8558 16.619 11.8134 16.6931L10.0778 15.6994C9.98429 15.8626 9.9253 16.0433 9.90444 16.2302L11.8921 16.4521ZM11.8134 16.6931C11.771 16.7672 11.7138 16.8318 11.6454 16.8829L10.4478 15.2811C10.2972 15.3938 10.1712 15.5361 10.0778 15.6994L11.8134 16.6931ZM11.6454 16.8829C11.577 16.9341 11.4989 16.9706 11.4158 16.9903L10.9537 15.0445C10.7707 15.0879 10.5985 15.1685 10.4478 15.2811L11.6454 16.8829ZM11.6593 16.8976L11.7117 16.8694L10.7626 15.1089L10.7102 15.1372L11.6593 16.8976ZM11.5912 16.9244L11.7209 16.8753L11.0127 15.0048L10.8831 15.0539L11.5912 16.9244ZM11.7353 16.8697C11.8547 16.8224 12.0338 16.7495 12.251 16.6472L11.3988 14.8378C11.2342 14.9154 11.0976 14.9711 10.9983 15.0104L11.7353 16.8697ZM12.2445 16.6502C12.8099 16.3889 13.3542 16.084 13.8725 15.7385L12.7629 14.0745C12.3307 14.3626 11.8768 14.6169 11.4053 14.8348L12.2445 16.6502ZM13.8609 15.7461C15.476 14.7011 16.7794 13.2399 17.6336 11.5163L15.8417 10.6281C15.1472 12.0294 14.0875 13.2173 12.7745 14.0669L13.8609 15.7461ZM17.6389 11.5055C19.0465 8.57791 18.9389 5.09616 17.5908 1.28763L15.7054 1.955C16.9434 5.45258 16.9382 8.3473 15.8364 10.6389L17.6389 11.5055ZM17.5929 1.29376L17.5367 1.13155L15.647 1.78666L15.7032 1.94888L17.5929 1.29376ZM16.2011 0.538593L16.0423 0.605995L16.8238 2.44702L16.9825 2.37961L16.2011 0.538593ZM16.0367 0.608417C11.6575 2.49909 8.70936 5.06138 7.75741 8.35072L9.67857 8.90671C10.3879 6.45583 12.6821 4.23517 16.8294 2.44459L16.0367 0.608417ZM7.75693 8.35237C6.96242 11.1154 7.84189 13.5901 8.45993 14.8262L10.2488 13.9318C9.73768 12.9096 9.08171 10.9824 9.67904 8.90506L7.75693 8.35237ZM8.47415 14.8536L8.6263 15.1358L10.3867 14.1867L10.2346 13.9045L8.47415 14.8536ZM10.4009 15.1085L14.7654 6.38101L12.9766 5.48647L8.61212 14.214L10.4009 15.1085ZM14.784 6.34172C14.7495 6.41891 14.6997 6.48829 14.6375 6.54567L13.2806 5.07645C13.1437 5.20285 13.034 5.35571 12.958 5.52576L14.784 6.34172ZM14.6375 6.54567C14.5754 6.60304 14.5023 6.6472 14.4226 6.67546L13.754 4.79052C13.5785 4.85279 13.4174 4.95007 13.2806 5.07645L14.6375 6.54567ZM14.4226 6.67546C14.3429 6.70373 14.2583 6.71551 14.1739 6.71011L14.3018 4.7142C14.116 4.70229 13.9296 4.72826 13.754 4.79052L14.4226 6.67546ZM14.1739 6.71011C14.0896 6.7047 14.0072 6.68221 13.9317 6.64401L14.8354 4.85982C14.6693 4.77566 14.4877 4.72611 14.3018 4.7142L14.1739 6.71011ZM13.9317 6.64401C13.8563 6.6058 13.7894 6.55267 13.7351 6.48784L15.2686 5.20385C15.149 5.06103 15.0016 4.94399 14.8354 4.85982L13.9317 6.64401ZM13.7351 6.48784C13.6809 6.42301 13.6403 6.34784 13.6159 6.26687L15.5311 5.69066C15.4775 5.51228 15.3881 5.34667 15.2686 5.20385L13.7351 6.48784ZM13.6159 6.26687C13.5916 6.1859 13.5839 6.10083 13.5934 6.01681L15.5808 6.24154C15.6017 6.05644 15.5848 5.86903 15.5311 5.69066L13.6159 6.26687ZM13.5934 6.01681C13.6029 5.93279 13.6294 5.85158 13.6712 5.77809L15.4094 6.76743C15.5015 6.60554 15.5598 6.42663 15.5808 6.24154L13.5934 6.01681ZM13.6451 5.82705L8.99326 15.17L10.7836 16.0615L15.4355 6.71847L13.6451 5.82705ZM9.01026 15.1374C9.05634 15.0528 9.12315 14.9813 9.20442 14.9295L10.2789 16.6164C10.483 16.4864 10.6508 16.3066 10.7666 16.0941L9.01026 15.1374ZM9.26707 14.8927L9.24288 14.9058L10.192 16.6662L10.2162 16.6532L9.26707 14.8927ZM9.24288 14.9058L9.22272 14.9166L10.1719 16.6771L10.192 16.6662L9.24288 14.9058ZM9.22272 14.9166L9.19047 14.934L10.1396 16.6945L10.1719 16.6771L9.22272 14.9166ZM9.19047 14.934L9.14612 14.9579L10.0953 16.7184L10.1396 16.6945L9.19047 14.934ZM9.13327 14.965C9.28193 14.882 9.45668 14.8589 9.6218 14.9005L9.13381 16.84C9.46312 16.9229 9.81162 16.8768 10.1081 16.7113L9.13327 14.965ZM9.62362 14.9009C8.69207 14.6647 7.79379 14.3127 6.94978 13.853L5.99331 15.6095C6.98405 16.149 8.03849 16.5622 9.13199 16.8396L9.62362 14.9009ZM6.93643 13.8459C5.51671 13.1004 3.91457 11.906 2.90644 10.109L1.16218 11.0876C2.42453 13.3377 4.38508 14.7652 6.00665 15.6166L6.93643 13.8459ZM2.90827 10.1123C1.71532 7.96708 1.56438 5.30058 2.664 2.06542L0.770395 1.42179C-0.457929 5.03561 -0.378305 8.31741 1.16036 11.0843L2.90827 10.1123ZM2.66108 2.07389C2.61695 2.2 2.53253 2.30808 2.42086 2.38143L1.32278 0.70984C1.06735 0.877634 0.874261 1.12485 0.773319 1.41331L2.66108 2.07389ZM2.42086 2.38143C2.30919 2.45479 2.17648 2.48935 2.04322 2.47977L2.18661 0.484914C1.88178 0.463003 1.57822 0.542046 1.32278 0.70984L2.42086 2.38143ZM1.95762 2.46989C3.03044 2.64077 4.05764 3.02683 4.97745 3.60485L6.0416 1.91146C4.89348 1.18996 3.61133 0.708082 2.27221 0.494789L1.95762 2.46989ZM4.97745 3.60485C5.89725 4.18287 6.69068 4.94092 7.31002 5.83343L8.95315 4.69321C8.18008 3.57917 7.18972 2.63295 6.0416 1.91146L4.97745 3.60485ZM7.30369 5.82421C7.21355 5.69116 7.1784 5.52839 7.20559 5.37L9.17675 5.70841C9.23698 5.35761 9.15912 4.99711 8.95948 4.70244L7.30369 5.82421ZM7.20559 5.37C7.23278 5.21161 7.32021 5.06989 7.44956 4.97452L8.6364 6.58431C8.92289 6.37309 9.11653 6.05921 9.17675 5.70841L7.20559 5.37ZM7.45318 4.97187C7.58983 4.87207 7.76052 4.83062 7.92771 4.85664L7.62014 6.83285C7.97693 6.88838 8.34118 6.79994 8.63278 6.58697L7.45318 4.97187ZM7.92771 4.85664C8.0949 4.88266 8.24492 4.97402 8.34477 5.11063L6.73012 6.29084C6.9432 6.58236 7.26334 6.77732 7.62014 6.83285L7.92771 4.85664ZM8.3525 5.12136C6.99353 3.20956 4.98247 1.86058 2.69804 1.32844L2.2443 3.27629C4.05347 3.69772 5.64613 4.76605 6.72238 6.28011L8.3525 5.12136ZM2.69365 1.32743L2.55124 1.29493L2.10628 3.24481L2.24869 3.2773L2.69365 1.32743ZM1.37399 1.97252L1.33017 2.11323L3.23971 2.70792L3.28353 2.56722L1.37399 1.97252ZM1.33072 2.11146C0.329925 5.30417 0.424017 8.23048 1.81255 10.7013L3.55609 9.7215C2.50958 7.85927 2.35363 5.53466 3.23916 2.70969L1.33072 2.11146ZM1.8103 10.6973C3.45336 13.6529 6.4674 15.1026 8.06865 15.6918L8.75932 13.8149C7.30308 13.279 4.84872 12.0467 3.55834 9.72553L1.8103 10.6973ZM8.07185 15.693L8.43766 15.8262L9.12194 13.9469L8.75612 13.8137L8.07185 15.693ZM9.68388 14.4592L9.51726 14.1067L7.70911 14.9614L7.87573 15.3139L9.68388 14.4592ZM9.51716 14.1065C8.95528 12.9186 8.32548 10.919 8.97909 8.69674L7.06036 8.1324C6.21152 11.0184 7.0434 13.554 7.7092 14.9617L9.51716 14.1065ZM8.98064 8.69144C9.76482 5.96981 12.2832 3.51782 16.9678 1.58001L16.2033 -0.268109C11.2679 1.77342 8.08698 4.56932 7.05882 8.13771L8.98064 8.69144ZM16.9051 1.60349C16.8222 1.63147 16.7343 1.64169 16.6472 1.63352L16.834 -0.357737C16.6421 -0.375737 16.4486 -0.35321 16.2659 -0.291591L16.9051 1.60349ZM16.6472 1.63352C16.5601 1.62535 16.4757 1.59896 16.3994 1.55606L17.38 -0.187088C17.2119 -0.281595 17.0259 -0.339734 16.834 -0.357737L16.6472 1.63352Z" fill="#333333" mask="url(#path-1-inside-1_6522_31391)"/>
            </svg>     
          <p class="text">{{ block.settings.text }}</p>
        </li>
      {%- endfor -%}
    </ul>
    <div class="landing-options__white-block">
      <p class="landing-options__white-block-text">{{ section.settings.title_3 }}</p>
      <div class="text">{{ section.settings.text_3 }}</div>
      {% assign product = section.settings.product %}
      <form class="product-form w-100 d-flex justify-content-center" action="/cart/add" data-productid="{{product.id}}" method="post">
        {%- liquid
          assign current_variant = product.selected_or_first_available_variant | default: product.variants.first
        -%}
        <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select"
          value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />  
        
        <input type="hidden" name="properties[_quiz_kit_id]" value="5824" />       
        <label class="btn btn--black button__primary">
          <input type="submit" value="{{section.settings.btn_text }}" name="add" class=" product-form__submit" />
        </label>
      </form>
    </div>
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Landing Options",
    "tag": "section",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
        },
      {
      "type": "richtext",
      "id": "title",
      "label": "Title"
      },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
      },   
      {
      "type": "text",
      "id": "text",
      "label": "Text"
      },
      {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
      },
      {
      "type": "text",
      "id": "subtitle_2",
      "label": "Subtitle for Color Block"
      }, 
      {
      "type": "text",
      "id": "title_2",
      "label": "Title for Color Block"
      },    
      {
      "type": "text",
      "id": "title_3",
      "label": "Title for White Block"
      },
      {
      "type": "richtext",
      "id": "text_3",
      "label": "Text for White Block"
      }, 
      {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
      }      
    ],
    "blocks": [
      {
      "name": "Item",
      "type": "text",
      "settings": [
          {
          "type": "text",
          "id": "text",
          "label": "Item"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Landing Options"
      }
    ]
}
{% endschema %}


  