<div class="landing-reviews">
  <div class="container container--landing">
    {% if section.settings.title %}
      <h2 class="h2">{{ section.settings.title }}</h2>
    {% endif %}
    <ul class="list-unstyled">
      {%- for block in section.blocks -%}
        <li>
          <div class="landing-reviews__img">
            <img
              srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
                {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
                {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
                {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
              sizes=" (min-width: 750px) 50vw, 100vw"
              src="{{ block.settings.image | image_url: width: 1500 }}"
              loading="lazy"
              alt="{{ block.settings.image.alt | escape }}"
              width="{{ block.settings.image.width }}"
              height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
            >
          </div>  
          <div class="landing-reviews__content">
            <h3>{{ block.settings.title }}</h3>
            <p>{{ block.settings.text }}</p>
            <span>{{ block.settings.author }}</span>
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>


{% schema %}
{
    "name": "Landing Reviews",
    "tag": "section",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Title"
      }
    ],
    "blocks": [
      {
      "name": "Item",
      "type": "text",
      "settings": [
        {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Item Title"
          },
          {
          "type": "text",
          "id": "text",
          "label": "Item Text"
          },
          {
          "type": "text",
          "id": "author",
          "label": "Item Author"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Landing Reviews"
      }
    ]
}
{% endschema %}