<div class="landing-price position-relative">
  <div class="container container--landing position-relative">
    {% if section.settings.top_title != blank %}
      <div class="landing-price__color-block">
        <p>{{ section.settings.top_title }}</p>
      </div>
    {% endif %} 
    <div class="landing-price__wrapper">
      <p class="landing-price__subtitle">{{ section.settings.subtitle }}</p>
      <h2 class="h2">{{ section.settings.title }}</h2>
      <div class="text">{{ section.settings.text }}</div>
      <div class="landing-price__btn position-relative">
        {{ section.settings.svg }}
        <a class="btn btn--red text-decoration-none" href="#">{{ section.settings.link_text }}</a>
      </div>
    </div>

    <div class="landing-price__img">
      <img
        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        sizes=" (min-width: 750px) 50vw, 100vw"
        src="{{ section.settings.image | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
      >
    </div>   
    <div class="landing-price__info position-relative">
      <p class="subtitle">{{ section.settings.subtitle_2 }}</p>
      <span class="landing-price__old-price h2">{{ section.settings.old_price }}</span>
      <span class="landing-price__new-price h2">{{ section.settings.new_price }}</span>
      {% if section.settings.btn_text != blank %} 
      {% assign product = section.settings.product %}
      <form class="product-form w-100 d-flex justify-content-center" action="/cart/add" data-productid="{{product.id}}" method="post">
        {%- liquid
          assign current_variant = product.selected_or_first_available_variant | default: product.variants.first
        -%}
        <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select"
          value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />  
        
        <input type="hidden" name="properties[_quiz_kit_id]" value="5824" />       
        <label class="btn btn--black button__primary">
          <input type="submit" value="{{section.settings.btn_text }}" name="add" class=" product-form__submit" />
        </label>
      </form>
      {% endif %}
    </div>  
  </div>
    <svg class="landing-price__bg"  width="1439" height="277" viewBox="0 0 1439 277" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M514.358 277C293.585 277 117.865 237.778 -1.99931 186.171L-2 0L1439 9.15527e-05V211.355C1010.7 166.349 790.325 277 514.358 277Z" fill="#F2E9E0"/>
    </svg>
</div>

{% schema %}
{
    "name": "Landing Price",
    "tag": "section",
    "settings": [
      {
      "type": "product",
      "id": "product",
      "label": "Product"
      },
      {
      "type": "text",
      "id": "top_title",
      "label": "Top Title"
      },
      {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
      },
      {
      "type": "richtext",
      "id": "title",
      "label": "Title"
      },
      {
      "type": "richtext",
      "id": "text",
      "label": "Text"
      },
      {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link Text"
      },
      {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
      },
      {
      "type": "text",
      "id": "svg",
      "label": "SVG"
      },
      {
      "type": "text",
      "id": "subtitle_2",
      "label": "Subtitle for Price Block"
      },
      {
      "type": "text",
      "id": "old_price",
      "label": "Old Price"
      },
      {
      "type": "text",
      "id": "new_price",
      "label": "New Price"
      }
    ],
    "presets": [
      {
        "name": "Landing Price"
      }
    ]
}
{% endschema %}



  