<article class="article-template blog-article" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="blog-article__wrapper" style="background-color:{{ section.settings.sec_bg_clr }};">
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when '@app' -%}
    <div class="page-width page-width--narrow">
      {% render block %}
    </div>
    {%- when 'featured_image'-%}
    {%- if article.image -%}
    <div class="blog-article__media" {{ block.shopify_attributes }} itemprop="image">
      <img srcset="{% if article.image.width >= 350 %}{{ article.image | img_url: '350x' }} 350w,{% endif %}
                  {% if article.image.width >= 750 %}{{ article.image | img_url: '750x' }} 750w,{% endif %}
                  {% if article.image.width >= 1100 %}{{ article.image | img_url: '1100x' }} 1100w,{% endif %}
                  {% if article.image.width >= 1500 %}{{ article.image | img_url: '1500x' }} 1500w,{% endif %}
                  {% if article.image.width >= 2200 %}{{ article.image | img_url: '2200x' }} 2200w,{% endif %}
                  {% if article.image.width >= 3000 %}{{ article.image | img_url: '3000x' }} 3000w,{% endif %}
                  {{ article.image | img_url: 'master' }} {{ article.image.width }}w"
       
        src="{{ article.image | img_url: '1500x' }}" loading="lazy" alt="{{ article.image.alt | escape }}">
    </div>
    {%- endif -%}
    {%- when 'title'-%}
    <header class="blog-article__top" {{ block.shopify_attributes }}>
      <div class="blog-article__container">
        {% if block.settings.show_tag %}
        <div class="blog-article__tag"> {{ article.tags }} </div>
        {% endif %}
        <h1 class="blog-article__title" style="color:{{ section.settings.clr_text }}" itemprop="headline">{{
          article.title | escape }}</h1>
        {%- if block.settings.blog_show_date -%}
        <div class="blog-article__date" itemprop="dateCreated pubdate datePublished">{{
          article.published_at | time_tag: format: 'basic' }}</div>
        {%- endif -%}
        {%- when 'share' -%}
        <div class="blog-article__share" {{ block.shopify_attributes }}>
          <div class="blog-article__share__inner">
            <share-button class="blog-article__share_button button__show-bord" {{ block.shopify_attributes }}>
              <button class="share-button__button hidden">
                {{ block.settings.share_label | escape }}
              </button>
              <details id="Details-{{ block.id }}-{{ section.id }}">
                <summary class="blog-article__share_btn">
                  {{ block.settings.share_label | escape }}
                </summary>
                <div id="Article-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                  <div class="field">
                    <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                    </span>
                    <input type="text" class="field__input" id="url" value="{{ shop.url | append: article.url }}"
                      placeholder="{{ 'general.share.share_url' | t }}" onclick="this.select();" readonly>
                    <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                  </div>
                  <button class="share-button__close hidden no-js-hidden">
                    {% render 'icon-close' %}
                    <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                  </button>
                  <button class="share-button__copy no-js-hidden">
                    {% render 'icon-clipboard' %}
                    <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                  </button>
                </div>
              </details>
            </share-button>
            {% if section.settings.show_facebook or section.settings.show_twitter or section.settings.show_instagram %}
            <ul class="blog-article__social">
              {% if section.settings.show_facebook %}
              <li class="blog-article__social_item">
                <a href="{{ settings.social_facebook_link }}" class="blog-article__social_link">
                  {% render 'icon-facebook-three' %}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
              {% endif %}
              {% if section.settings.show_twitter %}
              <li class="blog-article__social_item">
                <a href="{{ settings.social_twitter_link }}" class="blog-article__social_link">
                  {% render 'icon-twitter' %}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
              {% endif %}
              {% if section.settings.show_instagram %}
              <li class="blog-article__social_item">
                <a href="{{ settings.social_instagram_link }}" class="blog-article__social_link">
                  {% render 'icon-instagram-three' %}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
              {% endif %}
            </ul>
            {% endif %}
            <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
          </div>
        </div>
      </div>
    </header>
    {%- when 'content'-%}
    <div class="blog-article__container">
      <div class="blog-article__content" itemprop="articleBody" {{ block.shopify_attributes }}>
        {{ article.content }}
      </div>
      {% if section.settings.image_cont != blank %}
      <div class="blog-article__image">
        <img src="{{ section.settings.image_cont | img_url: 'master' }}" alt="">
      </div>
      {% endif %}
    </div>
    {%- endcase -%}
    {%- endfor -%}
  </div>
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
  {
  "type": "color",
  "id": "sec_bg_clr",
  "label": "Background color",
  "default": "#f2e9e0"
  },
  {
  "type": "color",
  "id": "clr_text",
  "label": "Text color",
  "default": "#333"
  },
  {
  "type": "checkbox",
  "id": "show_facebook",
  "label": "Show Facebook",
  "default": true
  },
  {
  "type": "checkbox",
  "id": "show_twitter",
  "label": "Show Twitter",
  "default": true
  },
  {
  "type": "checkbox",
  "id": "show_instagram",
  "label": "Show Instagram",
  "default": true
  },
  {
  "type": "image_picker",
  "id": "image_cont",
  "label": "Image after text"
  }
  ],
  "blocks": [
  {
  "type": "@app"
  },
  {
  "type": "featured_image",
  "name": "t:sections.main-article.blocks.featured_image.name",
  "limit": 1,
  "settings": []
  },
  {
  "type": "title",
  "name": "t:sections.main-article.blocks.title.name",
  "limit": 1,
  "settings": [
  {
  "type": "checkbox",
  "id": "blog_show_date",
  "default": true,
  "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
  },
  {
  "type": "checkbox",
  "id": "show_tag",
  "label": "Show tags",
  "default": true
  }
  ]
  },
  {
  "type": "content",
  "name": "t:sections.main-article.blocks.content.name",
  "limit": 1
  },
  {
  "type": "share",
  "name": "t:sections.main-article.blocks.share.name",
  "limit": 2,
  "settings": [
  {
  "type": "text",
  "id": "share_label",
  "label": "t:sections.main-article.blocks.share.settings.text.label",
  "default": "Share"
  },
  {
  "type": "paragraph",
  "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
  },
  {
  "type": "paragraph",
  "content": "t:sections.main-article.blocks.share.settings.title_info.content"
  }
  ]
  }
  ]
}
{% endschema %}